
body{
    background-image: linear-gradient(90deg, #0c5e18 10%, #c0622c 60%, red 75%);
}
.titulo{
    font-family: Impact, 'Arial Narrow Bold';
    font-size: 50px;
    text-align: center;
}
h2{
    font-family: Impact, 'Arial Narrow Bold' 
}
#container{
    display: flex;
    background-color: aliceblue;
    width: 50%;
    padding: 10px 150px; 
}
form{
    
    border:2px solid rgb(133, 133, 135);
}
.checkbox{
    font-family: Impact, 'Arial Narrow Bold';
}
.precios{
    font-family: Impact, 'Arial Narrow Bold';
}
#valorPlato{
    font-family: Impact, 'Arial Narrow Bold';
}
img{
    align-items: end;
    width: 30%;
    border-radius: 100px;
}
.tituloItems{
    font-family: Impact, 'Arial Narrow Bold';
}
#cajaTotalAPagarComida{
    font-family: Impact, 'Arial Narrow Bold';
    color: red;
}
#cajaTotalAPagar{
    font-family: Impact, 'Arial Narrow Bold';
    color: red;
}
.mifooter {
    width: 50%;
    margin-left: 475px;
    border: 5px solid blueviolet;
    background-image: linear-gradient(90deg, #482645 0%, #da8815 100%);
  }
  
  .mifooter__eltextoreservado {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: white;
  }
  @media only screen and (max-width: 576px) {
     #container {
      display: block;
      position: relative;
      width: 100%;
      padding: 2%;
      
    }
    #imagenes {
      display: none;
    }
      
  }
